$primary-color: $blue;
$secondary-color: $orange;
$success-color: $green;
$danger-color: $red;
$warning-color: $yelow;
$info-color: $aqua;

//
$primary-light: $blue-h;
$secondary-light: $orange-h;
$success-light: $green-h;
$danger-light: $red-h;
$warning-light: $yelow-h;
$info-light: $aqua-h;

//
$primary-dark: $blue-a;
$secondary-dark: $orange-a;
$success-dark: $green-a;
$danger-dark: $red-a;
$warning-dark: $yelow-a;
$info-dark: $aqua-a;
//
$pag-btn-default: $gray;
$pag-btn-hover: $ch-2;
//
$header-bg: $bg-1;
//
$tab-active: $green-2;
//
$book-btncolor-default: $blue;
$book-btncolor-hover: $blue-h;
$book-btncolor-active: $blue-a;
//
$pagination-btncolor-active: $blue;