$container-width: 1440px; // Ширина контейнера
$gutter-width: 20px; // Общий отступ между колонками
$columns: 12; // Количество колонок

// Ширина одной колонки
$column-width: calc(($container-width - ($columns - 1) * $gutter-width) / $columns);

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto; // Центрирование контейнера
  padding: 0 calc($gutter-width / 2); // Внутренние отступы по краям
  box-sizing: border-box;
}

.row {
  margin: 0;
  margin-bottom: 0px;
  margin-left: - calc($gutter-width / 2);
  margin-right: - calc($gutter-width / 2); // Обеспечиваем отступы по бокам для row
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
    // Генерация классов для колонок
  @for $i from 1 through $columns {
    &-#{$i} {
      width: ($column-width * $i) + ($gutter-width * $i) - calc($gutter-width / 2); // Ширина колонок
      float: left;
      box-sizing: border-box;
      padding: 0 calc($gutter-width / 2); // Внутренний отступ у колонок
    }
  }
}
