/*defaut*/
$blue: #4e92ff;
$orange: #f89052;
$orange-2:#E74C3C;
$green: #60cf57;
$green-2: #52BE80;
$red: #f05b5b;
$yelow: #ffcf31;
$aqua: #0FBDB4;
$black: #3C3B3B;
$gray: #F6F6F6;
$cdef-1: #ACA8A8;
/*hover*/
$blue-h: #447fde;
$orange-h: #dc7f47;
$green-h: #4aba42;
$red-h: #bf4141;
$yelow-h: #eebd1c;
$aqua-h: #0CA099;
$gary-h: #E0E0E0;
$ch-1: #5D5D5D;
$ch-2:  #E0E0E0;
/*active*/
$blue-a: #3b6fc2;
$orange-a: #bd6937;
$green-a: #3da235;
$red-a: #ac2d2d;
$yelow-a: #d6a917;
$aqua-a: #0A8A83;
$ca-1: #E74C3C;
/*disabled*/
$cd-1: rgba(82,190,128,0.59);
$cd-2: rgba(246,167,120,0.59);
$cd-3: rgba(78,146,255,0.59);
$cd-4: rgba(240,91,91,0.59);
$cd-5: rgba(60,59,59,0.59);
$cd-6: #D8D8D8;
/*header bg*/
$bg-1: url("../img/Banner-img.png");
$bg-2: url("../img/Banner-img2.png");
$bg-3: url("../img/Banner-img3.png");