/*defaut*/
$c1: #333333;
$c2: #FFFFFF;
$c3: #3358DE;
$c4: #3750AE;
$c5: #3750AE;
$header-bg-1920: "../img/header-bg.jpg";
$header-bg-1024: "../img/headr-bg_1024.png";
$header-bg-768: "../img/header-bg_768.png";